/*--GENERAL---------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #d1e6f0;
  color: #999;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: #b29c7d;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

p {
  line-height: 1.5;
}



/*--HEADING---------------------*/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background: #b29c7d;
  border-color: #7f6854;
}

#logo {
  text-align: center;
  margin: 0;
}

h1, h2 {
  color: #fff5cf;
  font-weight: normal;
  text-shadow: 5px 5px 8px #7f6854;
}

h1 {
  font-family: 'Lobster', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  text-transform: uppercase;
}



/*--NAVIGATION---------------------*/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  background: #a4b7bb; /* Nav background on mobile devices */
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 700;
  padding: 15px 10px;
}

nav a, nav a:visited {
  color: #fff5cf;
}

nav a.selected, nav a:hover {
  color: #7f6854;
}



/*--FOOTER---------------------*/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #999;
}

footer p {
  padding-top: 10px;
  border-top: solid 1px #999;
}



/*--PAGE: PORTFOLIO---------------------*/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #fffbed;
  color: #b29c7d;
  border-bottom: solid 1px #b29c7d;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #b29c7d;
}



/*--PAGE: ABOUT---------------------*/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100px;
}

#exhibitions li {
  list-style-type: square;
}



/*--PAGE: CONTACT---------------------*/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.email a {
  background-image: url('../img/mail.png');
}



/*--PAGE: IMAGES----------------*/

.description li {
  list-style-type: square;
  padding-bottom: 10px;
}